#leffe, #karmeliet, #grimbergen, #hoegaarden, #desperados, #guinness, #goudale, #corona, #affligem, #heineken
{
    width: 300px;
}

table {
    margin-left: 50;
}

th {
    text-decoration: overline;
}

header {
    text-align: center;
}

li{display:inline-block;min-width:50px;}
li a {
    text-align: center;
    text-decoration:none;
    line-height: 70px;
    padding: 0 10px;
    text-align: center;
    font-size: 1.3em;
    color: black;
    text-transform: uppercase;
}

li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li a:hover:after {
    width: 90%;
    background: orange;
}

html{
    background-color: navajowhite;
    color: black;
}